<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >垃圾邮件检测网页</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        #menu {
            width: 200px;
            float: left;
            border-right: 1px solid #ccc;
            padding-right: 10px;
        }
        #menu a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #333;
        }
        #menu a:hover {
            background-color: #f0f0f0;
        }
        #content {
            margin-left: 220px;
            padding: 20px;
        }
        .tab {
            display: none;
        }
        .active {
            display: block;
        }
         .form-container {
            display: flex;
            justify-content: space-between; /* 左右分布 */
            margin: 20px; /* 添加一些边距 */
        }

        .form-group {
            flex: 1; /* 每个输入框占据相同的宽度 */
            margin-right: 20px; /* 添加右侧边距 */
        }

        /* 去掉最后一个元素的右边距 */
        .form-group:last-child {
            margin-right: 0;
        }

    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_test.css') }}">
</head>
<body>
<div id="menu">
    <a href="#" onclick="showTab('emailScraper')">邮箱内容爬取</a>
    <a href="#" onclick="showTab('modelSelect')">模型选择训练</a>
    <a href="#" onclick="showTab('modelComparison')">模型数据对比</a>
    <a href="#" onclick="showTab('spamDetection')">垃圾邮件识别</a>
</div>

<div id="content">
    <div id="emailScraper" class="tab active">
        <h2 style="text-align: center;">邮箱内容爬取</h2>
        <form id="emailForm">
            <div class="input-row">
                <div class="input-group">
                    <label for="email">邮箱账号：</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">密码：</label>
                    <input type="password" id="password" name="password" required>
                </div>
            </div>
            <label for="emailType">选择邮箱类型：</label>
            <select id="emailType" name="emailType">
                <option value="qq">QQ邮箱</option>
                <option value="163">网易邮箱</option>
                <option value="gmail">Gmail</option>
                <option value="outlook">Outlook邮箱</option>
            </select><br><br>
            <div class="button-container">
                <button type="button" onclick="extractEmail()" class="custom-button">提取邮件</button>
            </div>
        </form>
    
        <h3>邮箱内容</h3>
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>发送人</th>
                    <th>主题</th>
                    <th>日期</th>
                    <th>详情</th>
                </tr>
            </thead>
            <tbody id="emailContent">
                <!-- 提取的邮件内容将显示在这里 -->
            </tbody>
        </table>
        <div id="emailModal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal()">&times;</span>
                <h3 id="modalSubject">邮件主题</h3>
                <p id="modalSender">发件人：</p>
                <div id="modalBody">邮件内容...</div>
            </div>
        </div>
        <div id="paginationContainer" style="text-align: center; margin-top: 20px;">
            <span id="totalEmails" style="margin-right: 20px;">总共 0 条邮件</span>
            <button type="button" onclick="prevPage()">上一页</button>
            <span id="currentPage">1</span> / <span id="totalPages">1</span>
            <button type="button" onclick="nextPage()">下一页</button>
        </div>        
        <div class="button-container">
            <button type="button" onclick="saveSelectedEmails()" class="custom-button">保存以上邮件</button>
        </div>        
    </div>
        <div id="modelSelect" class="tab">
        <h2>模型选择训练</h2>
        <p>在这里展示模型选择训练的相关信息和功能。</p>

        <!-- 模型选择 -->
        <div>
            <label for="taskType">选择任务类型：</label>
            <select id="taskType" name="taskType" onchange="updateModelOptions()">
                <option value="" disabled selected>请选择</option>
                <option value="title">邮件标题识别</option>
                <option value="content">邮件内容识别</option>
            </select>
        </div>
        <div>
            <h2></h2>
        </div>
        <div id="modelTypeContainer" style="display: none;">
            <label for="modelType">选择模型类型：</label>
            <select id="modelType" name="modelType">
                <option value="" disabled selected>请选择</option>
            </select>
        </div>

        <div class="button-container" style="margin-top: 20px;">
            <button type="button" onclick="startTraining()" id="startTrainingButton" >开始训练</button>
        </div>

        <!-- 训练进度展示框 -->
        <div id="progressContainer" style="margin-top: 20px; display: none;">
            <h3>训练进度</h3>
            <progress id="trainingProgress" value="0" max="100"></progress>
            <span id="progressText">0%</span>
        </div>

            <!-- 评估参数展示框 -->
        <div id="evaluationMetrics" style="margin-top: 20px; display: none;">
            <h3>模型评估参数</h3>
            <p>准确率: <span id="accuracy"></span></p>
            <p>精确率: <span id="precision"></span></p>
            <p>召回率: <span id="recall"></span></p>
            <p>F1-score: <span id="f1Score"></span></p>
            <h4>混淆矩阵:</h4>
            <canvas id="confusionMatrixCanvas" width="300" height="300"></canvas>
        </div>
    </div>
    <div id="modelComparison" class="tab">
        <h2>模型数据对比</h2>
        <p>在这里展示模型数据对比的相关信息和功能。</p>
    </div>
    <div id="spamDetection" class="tab">
        <h2>垃圾邮件识别</h2>
              <h1>邮件检测</h1>
    <form id="spamForm" onsubmit="return false">  <!-- 添加onsubmit事件 -->
        <div class="form-container">
        <div class="form-group">
            <label for="input_text">输入邮箱内容:</label><br>
            <textarea name="input_text" rows="4" cols="50"></textarea><br><br>
        </div>

        <div class="form-group">
            <label for="email_subject">输入邮箱标题:</label><br>
            <textarea name="email_subject" rows="4" cols="50"></textarea><br><br>
        </div>
    </div>

    <div class="form-container">
        <div class="form-group">
            <label for="file">上传文件:</label><br>
            <input type="file" name="file" accept=".txt,.json"><br><br>
        </div>

        <div class="form-group">
            <label for="email_file">上传文件:</label><br>
            <input type="file" name="email_file" accept=".txt,.json"><br><br>
        </div>
    </div>

    <div class="form-container">
        <div class="form-group">
            <label for="select1">选择模型:</label><br>
            <select name="select1" id="select1">
                <option value="option1">Bert</option>
                <option value="option2">贝叶斯</option>
            </select><br><br>
        </div>

        <div class="form-group">
            <label for="select2">选择模型:</label><br>
            <select name="select2" id="select2">
                <option value="option1">CNN</option>
                <option value="option2">chinese-electra</option>
            </select><br><br>
        </div>
    </div>
    <div class="form-container">
        <div class="form-group">
            <input type="submit" id="submitBtn1" value="提交邮箱内容">
        </div>
        <div class="form-group">
            <input type="submit" id="submitBtn2" value="提交邮箱标题">
        </div>
    </div>

    </form>
    <div id="predictionResult">
        {% if prediction %}
            <h2>预测内容:</h2>
            <p>{{ input_text }}</p>>
            <h2>预测结果:</h2>
            <p>{{ prediction }}</p>
        {% endif %}
    </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>

document.getElementById('submitBtn1').addEventListener('click', function(event) {
    submitSpamForm(event, 'select1'); // 传递事件和选择框ID
});
document.getElementById('submitBtn2').addEventListener('click', function(event) {
    submitSpamForm2(event,'select2'); // 只传递事件？
});

function submitSpamForm(event, selectId) {
    event.preventDefault(); // 阻止表单默认提交
    var selectElement = document.getElementById(selectId);
    var selectedValue = selectElement.value;

    const formData = new FormData(document.getElementById('spamForm'));
    const emailContent = formData.get('input_text');

    if (selectedValue === "option1") {
        console.log("Bert model selected");
        fetch('/submit_spam', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
           .then(data => {
        const predictionResultDiv = document.getElementById('predictionResult');
        predictionResultDiv.innerHTML = ''; // 清空以前的内容


        data.prediction.forEach(item => {
            predictionResultDiv.innerHTML += `<h2>预测内容:</h2><p>${item.content}</p>`; // 显示预测内容
            predictionResultDiv.innerHTML += `<h2>邮件标签:</h2><p>${item.label}</p>`; // 显示邮件标签
        });
    })
        .catch(error => {
            console.error('Error:', error);
        });
    } else if (selectedValue === "option2") {
        fetch('/submit_spam_title', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
           .then(data => {
        const predictionResultDiv = document.getElementById('predictionResult');
        predictionResultDiv.innerHTML = ''; // 清空以前的内容


        data.prediction.forEach(item => {
            predictionResultDiv.innerHTML += `<h2>预测内容:</h2><p>${item.content}</p>`; // 显示预测内容
            predictionResultDiv.innerHTML += `<h2>邮件标签:</h2><p>${item.label}</p>`; // 显示邮件标签
        });
    })
        .catch(error => {
            console.error('Error:', error);
        });
    }
}

function submitSpamForm2(event,selectId) {
    event.preventDefault(); // 阻止表单默认提交
    var selectElement = document.getElementById(selectId);
    var selectedValue = selectElement.value;

    const formData = new FormData(document.getElementById('spamForm'));
    const emailSubject = formData.get('email_subject');

if (selectedValue === "option1") {
        console.log("Bert model selected");
        fetch('/submit_spam_title', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
            .then(data => {
        const predictionResultDiv = document.getElementById('predictionResult');
        predictionResultDiv.innerHTML = ''; // 清空以前的内容


        data.prediction.forEach(item => {
            predictionResultDiv.innerHTML += `<h2>预测内容:</h2><p>${item.content}</p>`; // 显示预测内容
            predictionResultDiv.innerHTML += `<h2>邮件标签:</h2><p>${item.label}</p>`; // 显示邮件标签
        });
    })
        .catch(error => {
            console.error('Error:', error);
        });
    } else if (selectedValue === "option2") {
        fetch('/submit_spam_c_e', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
           .then(data => {
        const predictionResultDiv = document.getElementById('predictionResult');
        predictionResultDiv.innerHTML = ''; // 清空以前的内容


        data.prediction.forEach(item => {
            predictionResultDiv.innerHTML += `<h2>预测内容:</h2><p>${item.content}</p>`; // 显示预测内容
            predictionResultDiv.innerHTML += `<h2>邮件标签:</h2><p>${item.label}</p>`; // 显示邮件标签
        });
    })
        .catch(error => {
            console.error('Error:', error);
        });
    }
}
</script>
</body>
</html>